<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %} {% endblock %}
      | SharingIsKaring
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">SharingIsKaring</a>
          </div>
          {% block header %}
          {% endblock %}
      </div>
    </nav>

    <div class="container-fluid">
      {% block content %}
      {% endblock %}
      <footer>
	<br>
	<hr>
	&copy; Copyright 2018 SharingIsKaring
      </footer>
      <div class="container-fluid">
  </body>
</html>
