{% extends "index.html" %}

{% block title %}
Books
{% endblock %}

{% block content %}
{% if "items" in dict %}
    {% for book in dict["items"] if (("authors" in book["volumeInfo"]) and
                                     ("description" in book["volumeInfo"]) and
                                     ("imageLinks" in book["volumeInfo"]) and
                                     ("textSnippet" in book["searchInfo"])
                                     )%}
    <div class="container-fluid">
      <div class="row" >
        <div class="col-md-2">
          <a href="/book_info/{{book["id"]}}">
          {% if "imageLinks" in book["volumeInfo"] %}
          <img src={{ book["volumeInfo"]["imageLinks"]["thumbnail"] }} width="100%" height="100%" />
          {% else %}
          <img src="../static/genericcover.jpg" width="100%" height="100%" />
          {% endif %}
          </a>
        </div>
        <div class="col-md-8" >
          <div class="row" style="background-color:yellow;">
            <a href="/book_info/{{book["id"]}}">
            {{book["volumeInfo"]["title"]}}
            </a>
          </div>
          <div class="row">
            {% if "authors" in book["volumeInfo"] %}
            By:
            {%for author in book["volumeInfo"]["authors"]%}
            {{author}}
            {% endfor %}
            {% endif %}
          </div>
          <br>
          <div class="row">
            <!-- {% if "description" in book["volumeInfo"] %}
            <b>Description</b>: {{book["volumeInfo"]["description"][0:300]}}...
            {% endif %} -->
            {% if "textSnippet" in book["searchInfo"] %}
            <b>Description</b>: {{book["searchInfo"]["textSnippet"]|safe}}
            {% endif %}
          </div>
        </div>
        <!-- <div class="col-md-2">
          <br><br><br>
          <div class="row">
            <button type="button" class="btn btn-primary">Mark as read</button>
          </div>
          <br>
          <div class="row">
            <button type="button" class="btn btn-warning">Add to wishlist</button>
          </div>
        </div> -->
      </div>
    </div><br><br>
    {% endfor %}
  {% else %}
     <h2> Sorry, No Results Found. </h2>
  {% endif %}
{% endblock %}
