{% extends "index.html" %}

{% block title %}
Books
{% endblock %}

{% block content %}
  {% if "items" in dict %}
    <div class="container-fluid">
      <div class="row" >
        <div class="col-md-2">
          {% if "imageLinks" in dict["items"][0]["volumeInfo"] %}
          <img src={{ dict["items"][0]["volumeInfo"]["imageLinks"]["thumbnail"] }} width="100%" height="100%" />
          {% else %}
          <img src="../static/genericcover.jpg" width="100%" height="100%" />
          {% endif %}
        </div>
        <div class="col-md-8" >
          <div class="row" style="background-color:yellow;">
            <b>{{dict["items"][0]["volumeInfo"]["title"]}}</b>
            {% if "subtitle" in dict["items"][0]["volumeInfo"] %}
              {{dict["items"][0]["volumeInfo"]["subtitle"]}}
            {% endif %}
          </div>
          <div class="row">
            {% if "authors" in dict["items"][0]["volumeInfo"] %}
            By:
            {%for author in dict["items"][0]["volumeInfo"]["authors"]%}
            {{author}}
            {% endfor %}
            {% endif %}
          </div>
          <br>
          {% if "categories" in dict["items"][0]["volumeInfo"] %}
          <div class="row">
              <b> Categories</b>:
              {% for cat in dict["items"][0]["volumeInfo"]["categories"] %}
                {{cat}}
              {% endfor %}
          </div><br>
          {% endif %}
          {% if "averageRating" in dict["items"][0]["volumeInfo"] %}
          <div class="row">
              <b> Average Rating</b>: {{dict["items"][0]["volumeInfo"]["averageRating"]}}
          </div><br>
          {% endif %}
          <div class="row">
            {% if "textSnippet" in dict["items"][0]["searchInfo"] %}
            <b>Description</b>: {{dict["items"][0]["searchInfo"]["textSnippet"]|safe}}
            {% endif %}
          </div><br>
          <div class="row">
            {% if "description" in dict["items"][0]["volumeInfo"] %}
            <b>Text Snippet</b>: {{dict["items"][0]["volumeInfo"]["description"]}}
            {% endif %}
          </div><br>
          {% if "previewLink" in dict["items"][0]["volumeInfo"] %}
          <div class="row">
              <a href="{{dict["items"][0]["volumeInfo"]["previewLink"]}}" target="_blank">Preview Book Here</a>
          </div><br>
          {% endif %}
        </div>

        <div class="col-md-2">
          <br><br><br>
          {% if loggedIn %}
              {% if (not in_read) and (not in_wish) %}
                <div class="row">
                  <form action ="/alreadyRead" method="GET">
                  <input type="hidden" name="ID" value={{dict["items"][0]["id"]}}>
                  <button type="submit" class="btn btn-primary">Mark as read</button>
                  </form>
                </div>
                <br>
                <div class="row">
                  <form action ="/wishToRead" method="GET">
                  <input type="hidden" name="ID" value={{dict["items"][0]["id"]}}>
                  <button type="submit" class="btn btn-warning">Add to wishlist</button>
                  </form>
                </div>
              {% endif %}
              {% if (in_read) and (not in_wish) %}
                <div class="row">
                  <form action ="/removeReadBook" method="GET">
                    <input type="hidden" name="ID" value={{dict["items"][0]["id"]}}>
                    <button type="submit" class="btn btn-danger" >Remove from read</button>
                 </form>
                </div>
                <br>
                <div class="row">
                  <form action ="/wishToRead" method="GET">
                  <input type="hidden" name="ID" value={{dict["items"][0]["id"]}}>
                  <button type="submit" class="btn btn-warning" disabled>Add to wishlist</button>
                  </form>
                </div>
                <br>
              {% endif %}
              {% if (in_wish) and (not in_read) %}
                <div class="row">
                  <form action ="/alreadyRead" method="GET">
                  <input type="hidden" name="ID" value={{dict["items"][0]["id"]}}>
                  <button type="submit" class="btn btn-primary" disabled>Mark as read</button>
                  </form>
                </div>
                <br>
                <div class="row">
                  <form action ="/removeWishBook" method="GET">
                    <input type="hidden" name="ID" value={{dict["items"][0]["id"]}}>
                    <button type="submit" class="btn btn-danger" >Remove from wishlist</button>
                  </form>
                </div>
              {% endif %}
          {% else %}
          <div class="row">
            <form action ="/login" method="GET">
            <button type="submit" class="btn btn-primary">Mark as read</button>
            </form>
          </div>
          <br>
          <div class="row">
            <form action ="/login" method="GET">
            <button type="submit" class="btn btn-warning">Add to wishlist</button>
            </form>
          {% endif %}
        </div>

      </div>
    </div>
  {% endif %}

  <hr>

  <div class="container-fluid">
    {% if rec_list|length > 0 %}
        <h2 class="text-center"> Similar Books </h2>
        {% for dict in rec_list %}
         {% if    (("items" in dict) and
                  ("authors" in dict["items"][0]["volumeInfo"]) and
                  ("description" in dict["items"][0]["volumeInfo"]) and
                  ("imageLinks" in dict["items"][0]["volumeInfo"]) and
                  ("textSnippet" in dict["items"][0]["searchInfo"])
                   )%}

        <div class="container-fluid">
          <div class="row" >
            <div class="col-md-1">
              <a href="/book_info/{{dict["items"][0]["id"]}}">
              {% if "imageLinks" in dict["items"][0]["volumeInfo"] %}
              <img src={{ dict["items"][0]["volumeInfo"]["imageLinks"]["thumbnail"] }} width="100%" height="100%" />
              {% else %}
              <img src="../static/genericcover.jpg" width="100%" height="100%" />
              {% endif %}
              </a>
            </div>
            <div class="col-md-9" >
              <div class="row" style="background-color:yellow;">
                <a href="/book_info/{{dict["items"][0]["id"]}}">
                {{dict["items"][0]["volumeInfo"]["title"]}}
                </a>
              </div>
              <div class="row">
                {% if "authors" in dict["items"][0]["volumeInfo"] %}
                By:
                {%for author in dict["items"][0]["volumeInfo"]["authors"]%}
                {{author}}
                {% endfor %}
                {% endif %}
              </div>
              <br>
              <div class="row">
                {% if "textSnippet" in dict["items"][0]["searchInfo"] %}
                <b>Description</b>: {{dict["items"][0]["searchInfo"]["textSnippet"]|safe}}
                {% endif %}
              </div>
            </div>
            <!-- <div class="col-md-2">
              <br><br><br>
              <div class="row">
                <button type="button" class="btn btn-primary">Mark as read</button>
              </div>
              <br>
              <div class="row">
                <button type="button" class="btn btn-warning">Add to wishlist</button>
              </div>
            </div> -->
          </div>
        </div><br><br>
         {% endif %}
        {% endfor %}
    {% endif %}
  </div>
{% endblock %}
