{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block header %}
<form class="navbar-form navbar-left" action="/search" methods="GET">
  <select class="custom-select" name="type" style="height:32px;" required>
    <option value="Books">Books</option>
    <option value="Movies">Movies</option>
  </select>
  <div class="input-group mb-3">
    <input type="text" name="query" class="form-control" placeholder="Search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>

<ul class="nav navbar-nav navbar-right">
  {% if loggedIn %}
  <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Logged in as {{user}}</a></li>
  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
  {% else %}
  <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
  <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="container-fluid">
  {% if recs_lists|length > 0 %}

  <h2 class="text-center"> Recommended Movies </h2>

  {% for recs in recs_lists %}
  {% for movie in recs %}
  
    <div class="col-md-2" style="text-align:center;">
      <a href={{movie.site_link}}>
	<img src={{movie["Poster"] }} width="120px" height="160px" />
      </a>
      <div class="row">
	<a href={{movie["site_link"]}}>{{movie["Title"]}} </a>
      </div>
    </div> 
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% endblock %}
</div>
