{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

  <h1> Login </h1>

  {% set msgs = get_flashed_messages() %}
  {% for each in msgs %}
      <div class="alert alert-danger" role="alert">
        {{each}}
      </div><br>
  {% endfor %}

  <form action ="/auth" method="POST" >
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username"  placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>

  <br>


  Don't have an account? <br>
  <a href="/signup">Signup</a>

{% endblock %}
