{% extends "index.html" %}

{% block title %}
Movies
{% endblock %}

{% block content %}

{% for movie in list %}
<div class="container-fluid">
  <div class="row" >
    <div class="col-md-2" >
      <a href={{movie.site_link}}>
	<img src={{movie["Poster"] }} width="100%" height="100%" />
      </a>
    </div>    
    <div class="col-md-8" >
      <div class="row" style="background-color:yellow;">
	<a href={{movie["site_link"]}}>{{movie["Title"]}} </a>
      </div>
      <div class="row">
	Rated: {{movie["Rated"]}}
      </div>
      <br>
      <div class="row">
	<b>Plot: </b>{{movie["Plot"]}}
      </div>
    </div>
    <div class="col-md-2">
      <br><br><br>
      <div class="row">
        <button type="button" class="btn btn-primary">Mark as watched</button>
      </div>
      <br>
      <div class="row">
        <button type="button" class="btn btn-warning">Add to watchlist</button>
      </div>
    </div>
  </div>
</div>
<hr>
{% endfor %}

{% endblock %}
