{% extends "base.html" %}

{% block title %}
Movies
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row" >
    <div class="col-md-2" >
      <img src={{Poster}} width="100%" height="100%" />
    </div>    
    <div class="col-md-8" >
      <div class="row" style="background-color:yellow;">
	{{Title}}
      </div>
      <div class="row">
	Rated: {{Rated}}
      </div>
      <br>
      <div class="row">
	<b>Plot: </b>{{Plot}}
      </div>
    </div>
    <div class="col-md-2">
      <br><br><br>
      <div class="row">
        <button type="button" class="btn btn-primary">Mark as watched</button>
      </div>
      <br>
      <div class="row">
        <button type="button" class="btn btn-warning">Add to watchlist</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
