{% extends "index.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="col-md-2">
    <nav class="navbar navbar-inverse navbar-fixed-left">
      <ul class="nav navbar-nav" style="height:100%;">
        <li><a href="/profile">Books read</a></li><br>
        <li><a href="/movieWatched">Movies Watched</a></li><br>
        <li><a href="/bookwish">Want to read</a></li><br>
        <li><a href="/moviewish">Want to watch</a></li><br>
      </ul>
    </nav>
  </div>
  <div class="col-md-10">
    {% if data|length > 0 %}
    <h2 class="text-center"> {{title}}</h2>
    {% for movie in data %}
    <div class="col-md-2" style="text-align:center;">
      <a href="/movie_info/{{movie["imdbID"]}}">
	<img src={{movie["Poster"] }} width="120px" height="160px" />
      </a>
      <div class="row">
	<a href={{movie["site_link"]}}>{{movie["Title"]}} </a>
      </div>
    </div> 
    {% endfor %}
    {% else %}
    <h3> {{no_results}} </h3>
    {% endif %}

  </div>
</div>


{% endblock %}
